@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Roboto&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Oswald&family=Roboto&family=Sigmar&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto','Oswald';
}


.statistics {
    background-color: #122061 ;
    background-image: url('/public/images/overly-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.statsleft {
    width: 30%;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}



.statsbox1,.statsbox2,.statsbox3,.statsbox4 {
    background-color: #17256E;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    color: white;
    
}

.globalprojects, .clientsprotect, .serviceguarantee, .expertsteam {
    color: #4759A2;
}

.statsright {
    width: 30%;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

.statsright h4 {
    color: #2688B9;
}

.statsright h1 {
    color: white;
}


.statsright p  {
    color: #4759A2;
}

button {
    background-color: #0AD3EF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}

.statsbox4 span {
    font-size: 10px;
}