@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Roboto&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Oswald&family=Roboto&family=Sigmar&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto','Oswald';
}


.partners {
    background-color: #0A1650;
}




.partners {
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partnerstop {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.partnerstop h1{
    margin: 0%;
    font-family: 'Roboto';
    font-size: 33px;

}

.partnerstop p{
    font-family: 'Roboto';
    font-size: 11px;
    color: #36bbe6;
}

.partnersbottom {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.anim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px; 
    background-color: rgba(23,37,110,255);
    border-radius: 10px;
}

.anim img {
    height: 60px;
    width: 60px; 
}

.anim img {
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.anim img:hover {
    margin-bottom: 20px;
    filter: brightness(100);
}
.anim:hover{
    background-color: aqua;
}

.anim:hover img{
    filter: brightness(50);
}